.top_button, #next_button_large, #reset_camera_button, #zoom_in_button, #zoom_out_button, #zoom_in_button_large, #zoom_out_button_large, #done_button {
    position: relative;
    cursor: pointer;
    /* Prevent text select: */
    -webkit-user-select: none; /* Safari + Chrome */
    -moz-user-select: none; /* Firefox */
    -khtml-user-select: none; /* Linux */
    -ms-user-select: none; /* IE */
}
#camera_buttons {
    position: absolute;
    bottom: 0;
    height: 100px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 300px;
}
#next_button_large, #done_button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  visibility: hidden;
}
#next_button, #prev_button {
  width: 100px;
  height: 100px;
}

#reset_camera_button {
    display: inline-block;
    width: 100px;
    height: 100px;
}
#zoom_in_button, #zoom_out_button {
    display: inline-block;
    width: 50px;
    height: 50px;
}
#zoom_in_button {
    bottom: 50px;
}
#zoom_out_button {
  bottom: 0;
  left: -50px;
}
#zoom_out_button_large {
    display: inline-block;
    width: 100px;
    height: 100px;
}
#zoom_in_button_large {
    display: inline-block;
    width: 100px;
    height: 100px;
}
#top_buttons {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
}
#editButton, #optionsButton, #top_buttons .top_button {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
#home_button svg {
    border-radius: 0;
}
#optionsButton a, #editButton a {
    display: block;
}
#stepToContainer, #numberOfSteps {
    display: inline-block;
    position: relative;
    top: -25px;
}
#stepToContainer input {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    width: 150px;
    border: none;
    background: none;
}
#numberOfSteps {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
}

#to_top {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: black;
  opacity: 0.7;
  border-radius: 10px;
}
#to_top svg {
  width: 10vw;
  height: 10vw;
  stroke: white;
  opacity: 1;
}
#to_top svg polygon, .options_footer svg polygon {
  stroke-width: 4;
}
#editButton svg {
  stroke-width: 1;
  fill: none;
}

/* 
 SVG
 */
svg {
    position: relative;
    pointer-events: none;
}
svg:hover {
    opacity: 1;
}
#next_button_large svg, #done_button svg {
    stroke: black;
    width: 200px;
    height: 200px;
}
#prev_button svg, #top_buttons svg, #camera_buttons svg, #next_button svg {
    stroke: black;
    width: 100px;
    height: 100px;  
}
#zoom_in_button svg, #zoom_out_button svg {
    width: 50px;
    height: 50px;
}

/* 
 Only for preview:
 */
#preview_border {
  position: relative;
  top: 0;
  background-color: white;
}
#preview_border #prev_button, #preview_parent #prev_button {
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
}
.preview svg {
  display: block;
  width: 100%;
}

line, polygon, rect, polyline, path, circle, ellipse {
    stroke-width: 2;
    stroke-linecap: round;
}
#rotator path {
    stroke-width: 6;
}
#camera_buttons line, #top_buttons polygon, polyline, #top_buttons circle, #camera_buttons circle, #camera_buttons rect, #top_buttons rect, #top_buttons path, .ui_toggles, svg.next_large, svg.next_normal {
    stroke: black;
}

@media screen and (max-width: 760px) {
  #top_buttons {
    height: 12vw;
  }
  #prev_button svg, #top_buttons svg, #next_button svg, #optionsButton, #editButton, #top_buttons .top_button, #camera_buttons svg, #next_button, #reset_camera_button {
    width: 12vw;
    height: 12vw;
  }
  #prev_button, #next_button {
    width: 12vw;
    height: 12vw;
  }
  #stepToContainer, #numberOfSteps {
    top: -4vw;
  }
  #stepToContainer input, #numberOfSteps {
    font-size: 6vw;
    width: 18vw;
  }
  #instructions_decorations {
    top: 12vw;
  }

  #next_button_large svg, #done_button svg, #next_button_large, #done_button {
    width: 30vw;
    height: 30vw;
  }
  #camera_buttons {
    height: 12vw;
  }
  #zoom_out_button_large, #zoom_in_button_large {
    width: 12vw;
    height: 12vw;
  }
  #zoom_in_button svg, #zoom_out_button svg, #zoom_in_button, #zoom_out_button {
    width: 6vw;
    height: 6vw;
  }
  #zoom_in_button {
    bottom: 6vw;
  }
  #zoom_out_button {
    left: -6vw;
  }
  #to_top svg {
    width: 12vw;
    height: 12vw;
  }
}
