h1 {
    text-align: center;
}
#done_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 9;
}
#done_holder {
    display: none;
    position: absolute;
    width: 80%;
    top: 2em;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    background-color: black;
    color: #CCC;
}
#done_holder .donation_title {
    font-size: 1.2em;
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 5vw;
  }
  .bar span {
    font-size: 4vw;
  }
  .interaction {
    font-size: 4vw;
  }
  .other_actions a {
    font-size: 4vw;
  }
}