#loading_info {
    background-color: black;
    padding: 0.5em;
    color: white;
    position: relative;
    top: 50%;
    z-index: 12345;
    /*float: left;*/
}

#creator_name {
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 0.1em;
}

/*
  Quick links
*/
.quick_links {
  display: table;
  table-layout: fixed;
  border-spacing: 2em;
  width: 100%;
}
.quick_links a {
  color: white;
  text-decoration: none;
  display: table-cell;
  text-align: center;
  font-weight: bold;
}
#instructions_link, #edit_link, #parts_list_link, #more_instructions, #more_actions, .key {
  font-size: 2em;
  padding: 0.5em;
  border-radius: 2em;
  font-weight: bold;
  color: white;
  background-color: #4BB;
}

/*
  Main image
 */
#image, #video {
    display: block;
    margin: auto;
    text-align: center;
    color: black;
}
#video {
    margin-bottom: 1em;
}
#image, #image img {
    max-width: 800px;
    max-height: 800px;
}
#image_holder {
    position: relative;
    top: 0;
}
#image_holder img {
    display: inline-block;
    position: relative;
    z-index: -1;
    box-shadow: 2px 2px 2px 2px #111, 0 4px 4px 0 #070707;
    background-color: white;
}
#image_holder a {
    display: block;
}
#image_replacement {
    position: relative;
    top: 0;    
    margin: auto;
    width: 90%;/*800px;*/
    height: 90%;/*800px;*/
    max-width: 800px;
    font-size: 2em;
}
#image_replacement svg {
    display: block;
    stroke: #444;
    stroke-width: 4;
    z-index: -1;
}
#image_replacement svg, #image_explanation {
    display: block;
    background-color: #CCC;
}
#image_explanation {
    position: absolute;
    top: 40%;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
    line-height: 1.4;
}
.icon_3d_container {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
}
.icon_3d {
    display: inline;
    border: 2px solid black;
    border-radius: 10em;
    font-size: 30px;
    font-weight: bold;
    padding: 0.3em 0.3em 0.35em 0.3em;
    background-color: white;
    cursor: pointer;
    /* FROM http://markdotto.com/playground/3d-text/ */
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25);
    box-shadow: 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2);
}


/*
  Description
 */
#description {
    margin: 2em;
}
#description .static_field, #description .dynamic_field {
    font-size: 1.5em;
}

#more_instructions, #more_actions, #donations {
  margin-left: 1em;
  margin-right: 1em;
  background-color: #aaa;
  text-align: center;
}
#more_instructions a, #approval a {
  color: white;
  text-decoration: none;
}

/*
 Edit fields
 */
.save_field, .cancel_field, .edit_field, .change_theme {
    background-color: #444;
    color: #BBB;
}
.status_field {
    display: none;
    background-color: orange;
    font-weight: normal;
    padding: 0.2em;
}
.edit_field {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.dynamic_field, .save_field, .cancel_field {
    display: none;
}
.edit_field, .save_field, .cancel_field {
    cursor: pointer;
}
.title_line {
    margin: 0 0 0 2em;
    padding: 0 0 0.5em 0;
}
#title_bar_name input {
    width: 70%;
}
#set_number_omr_select input {
    width: 4em;
}
.change_theme a {
    color: #BBB;
    font-weight: bold;
    text-decoration: none;
    border-width: 1px;
    padding: 0.2em;
}
.type_select {
    display: table;
    table-layout: fixed;
    border-spacing: 0.5em;
    width: 100%;
}
.type_select_button {
    display: table-cell;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;    
    background-color: #4BB;
    padding: 0.3em;
    border: 0.2em solid #2BB;
    vertical-align: middle;
    cursor: pointer;
}

/*
  Settings
 */
#settings_header, #approval, #donations, #more_info {
  font-size: 2em;
  padding: 0.5em;
  border-radius: 2em;
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
  margin-bottom: 1em;
  clear: both;
}
#more_info {
  font-size: 1em;
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
}
#settings {
  margin: 2em;
}
label, input, textarea {
    font-size: 1.1em;
}
.kv {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 1em;
}
.kv input, .kv label, .kv .key, .kv .value {
    display: table-cell;
}
.kv label.right {
    padding-right: 0.5em;
    text-align: right;
}
::-webkit-file-upload-button {
  font-size: 1.1em;
  height: 100%;
}
#approval {
  margin: 1em;
  background-color: #bb4;
}
/*
  https://codepen.io/Qvcool/pen/bdzVYW
  */
.cb {
    margin: 2em 0 0 2em;
    display: block;
    position: relative;
}
.cb input {
    position: relative;
    margin: 0;
    
    cursor: pointer;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: -0.5em;
    left: 0;
    width: 4em;
    height: 2em;
}
.cb label {
    position: relative;
    padding-left: 4.5em;
}
.cb input + label::before {
    text-align: center;
}
.cb input:checked + label::before {
    content: "\2714";
    text-align: left;
    background-color: #1877c1;
    padding-left: 0.6em;
}
.cb input:checked + label::after {
    left: 2em;
}
.cb label::before, .cb label::after {
    position: absolute;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    transition: background-color 0.3s, left 0.3s;
}
.cb label::before {
    content: "\2716";
    color: #fff;
    box-sizing: border-box;
    padding-left: 2.1em;
    font-size: 1em;
    line-height: 2em;
    background-color: #888;
    left: 0;
    top: -0.5em;
    height: 2em;
    width: 4em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.cb label::after {
    content: "";
    letter-spacing: 2em;
    background: #fff;
    left: 0.1em;
    top: -0.4em;
    height: 1.8em;
    width: 1.8em;
}

/*
  Functions
 */
#functions {
  margin-top: 1em;
}
.function_info, #functions .function, #save_preview, #save_theme {
  display: block;
  margin: 1vw 2vw 0 2vw;
  font-weight: bold;
  color: white;
  padding: 0.5vw;
  font-size: 1.5em;
  vertical-align: middle;
}
#functions .function, #save_preview, #save_theme {
  background-color: #4BB;
  border: 0.2em solid #4CC;
  cursor: pointer;
}
#functions .function_info {
  background-color: #C82;
  border: 0.2em solid #DA4;
}
#save_preview, #save_theme {
  display: none;
}
.omr_notice, .omr_function {
  /*display: inline-block;
  visibility: hidden;*/
    display: none;

  width: 0.65em;
  height: 0.65em;
  overflow: hidden;
  
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.omr_notice {
  background-color: #C82;
  border: 0.1em solid #DA4;
}
.omr_function {
  cursor: pointer;
  background-color: #4BB;
  border: 0.1em solid #4CC;
}
.omr_notice b, .omr_function b {
  display: block;
  position: relative;
  top: -0.16em;
  left: -0.16em;

  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.updatable_field {
  position: relative;
  top: 0;
}
.tooltiptext {
  text-align: left;
  display: block;
  visibility: hidden;
  position: absolute;
  background-color: #C82;
  border: 0.2em solid #DA4;
  z-index: 1;
  color: white;
  width: 88vw;
  font-size: 1.2em;

  top: 1.5em;
}
#set_number_select .tooltiptext {
  font-size: 0.7em;
}
.omr_function + .tooltiptext {
  background-color: #4BB;
  border: 0.2em solid #4CC;
}
.omr_function:hover + .tooltiptext, .omr_notice:hover + .tooltiptext {
  visibility: visible;
}
.example_replacement {
  display: table;
  border-spacing: 0.5em;
}
.example_left, .example_right {
  display: table-cell;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: normal;
  font-size: 0.75em;
  color: black;
  background-color: white;
  padding: 0.5em;
}

/*
  Preview
 */
#preview {
    display: none;
    margin: auto;
    text-align: center;
    clear: both;
}
#preview_panel {
    position: relative;
    top: 0;
    display: block;
    width: 95%;
    margin: auto;
}
#preview_panel canvas {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#prev_button, #next_button {
    display: none;
}
#camera_buttons {
    text-align: left;
}
.dg.main {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
}

/*
  Messages
 */
.warning, .error {
  display: block;
  padding: 0.5vw;
  margin: 0.5vw 2vw 0.5vw 2vw;
}
.warning {
  border: 2px solid orange;
  background-color: white;
  color: black;
}
.error {
  border: 2px solid red;
  background-color: #D55;
}
.message_header {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

/*
  MPD Preview
 */
.background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 9;
}
.holder {
  display: none;
  position: fixed;
  top: 2em;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  width: 90%;
  height: 100%;
}
#mpd_content {
  display: block;
  width: 98%;
  height: 85%;
}
#mpd_holder, #download_holder {
  background-color: black;
  top: 0;
}
#mpd_holder .other_actions {
  font-size: 0.7em;
}
a {
  cursor: pointer;
}

/*
  Download
*/
#download_holder .kv {
  /*padding: 2em;*/
  border-spacing: 1em;
}
#unofficial_table {
  text-align: center;
  width: 100%;
}
#unofficial_desc {
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}
#unofficial_desc p, #unofficial_desc p a, .value {
  color: #AAA;
}
#download_holder h2 {
  text-align: center;
  font-size: 2em;
  margin: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}
#download_holder {
  position: absolute;
  height: fit-content;
}
.key {
  text-align: center;
}
.key a {
  text-decoration: none;
}
