html, body { 
    margin: 0; 
    padding: 0;
    background-color: #222;
    height: 100%
}
#icon_toggles {
  display: block;
  float: right;
  margin-right: 2em;
  margin-bottom: 1em;
  background-color: #CCC;
  cursor: pointer;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-radius: 0.5em;
}
.toggle, .toggle_selected {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 0.5em;
  vertical-align: top;
}
.toggle {
  background-color: #CCC;
}
.toggle_selected {
  background-color: #799;
}
#generated {
  clear: both;
}

#big_parts {
    display: block;
    padding: 1em;
    margin: 0;
    width: 100%;
}
#list_parts {
    display: block;
    margin: 2em;
    color: black;
    background-color: white;
}
#list_parts a {
    color: black;
}
#list_parts table {
    width: 100%;
}
table th {
    background-color: #4BB;
    color: white;
    font-size: 32px;
    padding: 0.5em;
}
table th .sorter {
    cursor: pointer;
}
tr {
  background-color:#d3dce3;
}
table tr:nth-child(2n+3) {
  background-color:#eeeeee;
}
table tr:nth-child(2n+2) {
  background-color:#dddddd;
}
td {
  text-align: center;
  font-size: 32px;
}
td.list_description {
  text-align: left;
  padding-left: 0.5em;
}
td.list_image {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.scene {
    margin-right: -100em;
}
.part {
    display: inline-block;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-color: white;
    color: black;
}
.mult {
    display: block;
    float: left;
    position: relative;
    left: 0.125em;
    margin-right: -100%;
    margin-bottom: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
}

/*
  Overlay 'preview' for parts:
 */
#preview_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 9;
}
#preview_holder {
    display: none;
    position: fixed;
    top: 2em;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}
#preview {
    margin-bottom: 1em;
}
#preview_info {
    background-color: black;
    color: white;
    z-index: 90;
    padding: 0.2em;
}
#preview_info a {
    color: white;
}
.preview_info_line {
    display: block;
}
#preview_info_name, #preview_info_color_ldraw, #preview_info_color_lego {
    display: inline;
}

/*
  Title bar
 */
#titlebar, #continuebar {
    display: block;
    margin: 0.5em;
    background-color: #4BB;
    border-radius: 54px;
    color: white;
    padding: 4px;
    font-size: 2em;
    text-align: center;
    min-height: 104px;
}
#titlebar a, #continuebar a {
    color: white;
}
#titlebar em {
    font-weight: bold;
    font-style: normal;
}
.bar_text {
    display: block;
    margin-top: 0.5em;
    margin-right: 100px;
}
#continuebar .bar_text {
    margin-top: 1em;
}

#icon_toggles svg {
  stroke: white;
  stroke-width: 2;
  width: 100px;
  height: 100px;
}
#icon_toggles svg line {
  display: inline-block;
  stroke-width: 6;
  stroke-linecap: round;
}
#home_button img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50px;
}
#home_button, #to_top_button {
    border-radius: 50px;
    position: relative;
    height: 100px;
    width: 100px;
}
.home_anchor {
    display: block;
    float: left;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50px;
}
#to_top_button {
    display: block;
    float: left;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50px;
}
#home_button svg, #to_top_button svg {
  position: relative;
  top: -2px;
}
#home_button svg {
  stroke: #4BB;
}
#to_top_button svg {
  stroke: white;
}