ul {
  font-size: 1.5em;
  line-height: 2em;
  background-color: black;
  margin: 0;
}
.bar, #big_list {
  /*margin-top: 2em;*/
}
/* preview can perhaps be deleted */
#preview {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
  width: 100%;

  position: relative;
  top: 0;
}
#canvas_buttons_top {
    position: relative;
    left: 4vw;
    top: 1vw;
    height: 0;
}
#file_content_holder, #file_structure_holder, #file_structure {
  background-color: black;
  margin: 0;
}
#file_content_holder pre {
    display: block;
    margin: 0 2em 0 2em;
    background-color: white;
    color: black;
    padding: 0.2em;
}
#file_structure {
    width: 100%;
    text-align: center;
}
.actions a {
    background-color: #4B4;
    font-size: 2em;
    padding: 0.3em;
    border: 0.2em solid #2A2;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    display: table-cell;
    text-align: center;
    font-weight: bold;
}
.actions {
    display: table;
    table-layout: fixed;
    border-spacing: 2em;
    width: 100%;
}
ul ul {
  font-size: 1em;
}
#load_details {
    background-color: #4BB;
    border: 0.2em solid #2AA;
    display: block;
    font-size: 2em;
    padding: 0.5em;
    margin: 1em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.iconScene {
    width: 200px;
    height: 200px;
    cursor: pointer;
}
ul.pretty_points {
    display: inline-block;
    font-size: 1em;
    line-height: 1em;
    padding: 0;
}
.line_desc, .line_desc {
    text-align: left;
}
.pretty_points {
    color: white;
}
.title_line {
    padding-left: 1.5em;
    padding-bottom: 0.5em;
}

/*
  Messages
 */
.warning, .error {
  display: block;
  padding: 0.5em;
  margin: 0.5em 2em 0.5em 2em;
  color: black;
}
.warning {
  border: 2px solid orange;
  background-color: white;
}
.error {
  border: 2px solid red;
  background-color: #FDD;
}
.message_header {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

/* 
   PLI
*/
#pli_setup {
    background-color: black;
    text-align: center;
}
input {
    width: 4em;
}

#canvas_buttons_bottom {
    height: 0;
}

/* Moving Camera buttons up: */
#camera_buttons {
    position: relative;
    top: -110px;
}
#camera_buttons svg line, #camera_buttons svg circle, #camera_buttons svg polygon, #camera_buttons svg rect {
    stroke: #ddd;
}
#download_button svg line {
    stroke: #ddd;
}
@media screen and (max-width: 760px) {
  #camera_buttons {
    top: -13vw;
  }
}

/* Top canvas buttons: */
#color_button_holder {
  display: inline-block;
  border-radius: 100%;
  padding: 0.2vw;
}
#normal_button, #bfc_button, #harlequin_button, #download_button, #normal_helper_button, #axes_helper_button, #uv_button {
  display: inline-block;
  cursor: pointer;
}
#canvas_buttons_top svg {
    width: 5vw;
    height: 5vw;
    vertical-align: middle;
}
.resolution_button svg {
  fill: rgb(255, 255, 128);
  cursor: pointer;
}
.resolution_button svg text {
    font-family: sans-serif;
    stroke: black;
    font-style: italic;
    vertical-align: middle;
}
#normal_helper_button svg line {
    stroke: red;
}
