body { 
    margin: 0; 
    padding: 0;
    background-color: #ffffff;
}

/* Instructions */
#stepToContainer {
    display: inline-block;
    position: relative;
    top: -25px;
}
#stepToContainer input {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    width: 200px;
    border: none;
    background: none;
}
#multiplier {
    display: block;
    float: left;
    position: relative;
    top: -175px;
    left: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    visibility: hidden;
}
#rotator {
    display: block;
    float: left;
    position: relative;
    top: -200px;
    left: 60px;
    width: 100px;
    height: 100px;
    margin-right: -300px;
    margin-bottom: -100px;
    visibility: hidden;
}

/* Green */

#green {
    display: inline-block;
    background-color: #DDD;
    height: 120px;
    padding: 0;
    width: 100%;
    vertical-align: top;
    /*line-height: 150px;*/
    margin: 0;
    margin-top: -40px;
}
.green_container {
    display: inline-block;
}

.preview, .input_frame {
  display: table-cell;
  border: 2px solid black;
  padding: 0.5em;
}
.color_input {
    display: block;
    width: 100%;
    cursor: pointer;
}

/*
  PLI
*/
#pli {
  display: inline;
  position: absolute;
  margin-right: -100%;
  margin-bottom: -100%;
  left: 4px;
  top: 100px;

  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
}
#pli_render_canvas {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}